body {
    font-family: "expo-sans-pro", sans-serif;
    border-top: 10px solid #59A1C5;
}

body:before {
    content: " ";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    border: 10px solid #90C8D5;
}

.content {
    font-size: 22px;
    width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
}

@media screen and (max-width: 900px){
    .content {
        font-size: 20px;
        width: 600px;
    }
}

@media screen and (max-width: 600px){
    .content {
        font-size: 16px;
        width: 100% !important;
    }
}

.header {
    line-height: 1.4em;
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 80px;
    margin-top: 60px;
    color: #888;
}

.header .name {
    color: #2A4A47;
    font-weight: 700;
    font-size: 1.4em;
    font-family: "source-code-pro", monospace;
}

.header .name a:hover, .header .name a, .header .name a:visited{
    color: #2A4A47;
    border: none;
}

.header a, .header a:visited {
    color:  #59A1C5;
    border: 0;
}

.header a:hover {
    border-bottom: 1px solid #2A4A47;
}

h1 {
    font-size: 2.8em;
    line-height: 1.5em;
    color: black;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    color: black;
    font-weight: 700;
}

p {
    margin: 25px 0;
    line-height: 1.5em;
    color: #38262E;
    font-weight: 300;
}

em {
    font-weight: 300;
    font-style: italic;
}

strong {
    font-weight: 700;
}

a {
    color: #59A1C5;
    text-decoration: none;
    border-bottom: 1px solid #72BAD9;
}

.links {
    margin-top: 3em;
}

.links a {
    color: #59A1C5 !important;
    border-bottom: 1px solid transparent;
}

.links a:hover {
    color: #2A4A47 !important;
    border-bottom: 1px solid #2A4A47;
}

.older-link {
    float: right;
}

a:hover {
    color: #2A4A47;
    border-color: #2A4A47;
}

a:visited {
    color: #343347;
    border-color: #343347;
}

p code {
    padding: 1px 4px !important;
}

code {
    font-family: "source-code-pro", monospace;
    font-size: 0.8em;
    line-height: 1em;
}

.footer {
    clear: both;
    padding: 80px 50px 0;
    text-align: center;
    font-size: 0.8em;
    color: #888;
    font-style: italic;
}